<section id="about" class="about-container">
    <div class="about-description">
        <h2>Acerca de mi</h2>
        <p>
            Desde 2004 tengo experiencia en el área de desarrollo de productos electronicos. Diseño de circuitos impresos y electronico. 
            Imparto seminarios y capacitaciones para personas, empresas e instituciones educativas.
        </p>
        <p>
            Desde 2014 pertenezco al Laboratorio de Sistemas Embebidos (LSE) de la UTN FRA
             desarrollando contenido para una mejor <strong>EDUCACION PUBLICA Y GRATUITA</strong>.
        </p>
        <p>
            Tambien ofrezco servicios relacionado con la industria electrónica analógica y digital. Realizo trabajos de programación para microcontrolador, automatizacion de mediciones y el desarrollo de aplicaciones de escritorio, moviles y Web. 
        </p>
    </div>
    <div class="about-technologies">
        <h2>Competencias</h2>
        <div class="tech-container">
            <div class="tech">
                <img src="./img/c.png" alt="C">
                <p class="tech-title tech-text">C</p>
            </div>
            <div class="tech">
                <img src="./img/cpp.png" alt="C++">
                <p class="tech-title tech-text">C++</p>
            </div>
            <div class="tech">
                <img src="./img/csharp.png" alt="C Sharp">
                <p class="tech-title">C Sharp</p>
            </div>
            <div class="tech">
                <img src="./img/git.png" alt="git">
                <p class="tech-title tech-text">Git</p>
            </div>
            <div class="tech">
                <img src="./img/html.png" alt="HTML">
                <p class="tech-title tech-text">HTML</p>
            </div>
            <div class="tech">
                <img src="./img/css.png" alt="CSS">
                <p class="tech-title tech-text">CSS</p>
            </div>
            <div class="tech">
                <img src="./img/js.png" alt="JS">
                <p class="tech-title">Javascript</p>
            </div>
            <div class="tech">
                <img src="./img/mysql.png" alt="MySQL">
                <p class="tech-title tech-text">MySQL</p>
            </div>
            <div class="tech">
                <img src="./img/php.png" alt="PHP">
                <p class="tech-title tech-text">PHP</p>
            </div>
            <div class="tech">
                <img src="./img/xamarin.png" alt="Xamarin Android">
                <p class="tech-title">Xamarin Android</p>
            </div>
            <div class="tech">
                <img src="./img/se.png" alt="Sistemas Embebidos">
                <p class="tech-title">Sistemas Embebidos</p>
            </div>
            <div class="tech">
                <img src="./img/blazor.png" alt="Blazor WebAssembly">
                <p class="tech-title">Blazor Wasm</p>
            </div>
        </div>
    </div>
</section>