<section id="contacto" class="contact-container">
        <div class="contact-title">
            <h2>Contacto</h2>
            <p>Puedes encontrarme en:</p>
            <div class="contact-social">
                <a href="https://github.com/dframirez80" rel="noopener" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://ar.linkedin.com/in/dario-federico-ramirez-2111a534" rel="noopener" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <form class="contact-form" @onsubmit="SendEmail" method="GET">
            <div class="form-user-data">
              <input class="form-text" @bind="names" placeholder="Nombres" required>
              <input class="form-text" @bind="surname" placeholder="Apellidos" required>
              <input class="form-text" type="email" @bind="email" placeholder="Ingrese E-mail" required>
              <textarea class="form-text area" @bind="message" placeholder="¿Deseas escribirme?, ¡hazlo aqui!" required></textarea><br/>
              <button class="form-btn-style" type="submit" >@value</button>
            </div>
        </form>
</section>
<div id="win-ligthbox" class="@hide" > 
    <div class="ligthbox-container">
        <h2 id="title">Aviso</h2>
        <div id="message">@dataReceived</div>
        <button id="btn-ligthbox" @onclick="@Hide"> ACEPTAR </button>
    </div>
</div> 
@using Newtonsoft.Json.Linq

@code{
    string dataReceived = "", hide = "hide";
    string names, surname, email, message, value = "ENVIAR";
    void Hide(){
        hide = "hide"; dataReceived = "";
    }
    async Task SendEmail(){
        using (HttpClient Client = new HttpClient()){
            value="ENVIANDO..";
            /*var result = await Client.GetStringAsync("https://apis.datos.gob.ar/georef/api/provincias?campos=nombre");
            //Console.WriteLine(result);
            dynamic json = JObject.Parse(result);
            foreach (var e in json.provincias){   
                Console.WriteLine(e.nombre);
            }*/
            var dataSend = new FormUrlEncodedContent(new[]
            {
                new KeyValuePair<string, string>("names", names), 
                new KeyValuePair<string, string>("surname", surname),
                new KeyValuePair<string, string>("email", email), 
                new KeyValuePair<string, string>("message", message)
            });
            var resp = await Client.PostAsync("https://dfr80.com.ar/accessContactWeb.php", dataSend);
            dataReceived = await resp.Content.ReadAsStringAsync();
            if(dataReceived != "") hide = ""; 
            //StateHasChanged();
            Console.WriteLine(dataReceived);
            value="ENVIAR";
        }
    }
}