<section id="inicio" class="init-container">
    <div class="init-photo">
        <img src="./img/dfr.jpg" alt="perfil">
    </div>
    <div class="init-resumen">
        <p><i class="fa fa-laptop-code"></i> Programador</p>
        <p><i class="fa fa-microchip"></i> Desarrollador</p>
        <p><i class="fab fa-leanpub"></i> Autodidacta</p>
        <a class="btn-1" href="./pdf/darioFRamirez.pdf" rel="noopener" target="_blank"> Descarga mi CV </a>
    </div>        
</section>