<section id="servicios" class="services-container">
        <h2>Servicios</h2>
        <article class="services-info">
            <i class="fas fa-code"></i>
            <h3>Programación Web</h3>
            <p>
                Desarrollo sitios y aplicaciones para plataformas Web. Desde el Frontend, Backend y Base de Datos.
            </p>
        </article>
        <article class="services-info">
            <i class="fas fa-server"></i>
            <h3>Web Hosting</h3>
            <p>
                Proporciono los servicios para obtener tu dominio y hospedaje para que tu web este disponible las 24hs.
            </p>
        </article>
        <article class="services-info">
            <i class="fas fa-microchip"></i>
            <h3>Sistemas Embebidos</h3>
            <p>
                Desarrollo sistemas procesados desde el diseño electronico hasta la puesta en marcha de tu producto.
            </p>
        </article>
        <article class="services-info">
            <i class="fas fa-mobile-alt"></i>
            <h3>Aplicaciones</h3>
            <p>
                Desarrollo aplicaciones para plataformas de escritorio y sistemas basados en android.
            </p>
        </article>
    </section>